<p id="notice"><%= notice %></p>

<p>
  <strong>Nakshatra date:</strong>
  <%= @nakshatra_date.nakshatra_date %>
</p>

<%= link_to 'Edit', edit_nakshatra_date_path(@nakshatra_date) %> |
<%= link_to 'Back', nakshatra_dates_path %>
